<connectivity>
  ConnectionType {{ connectiontype }}
</connectivity>

<Account Information>
 Username {{ username }}
 Password {{ password }}
</Account Information>

<System Information>
 DistributionType {{ ansible_os_family }}
</System Information>
